*{
	outline:none !important;//元素外围边框
	-moz-outline: none !important;
	padding: 0;
	margin: 0;
	font-family: Microsoft YaHei, 微软雅黑;
	font-size: 100%;
	list-style: none;
}
html, body{
	height: 100%;
}
.layout {
	display: table-cell;
}
.sidebar {
	position: absolute;
	width: 5%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	z-index: 1;
	box-shadow: none;
}
.sidebar > ul > li .sidebarAStyle{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 3.5rem;
	//margin: 0 0.25rem 0 0.25rem;
	font-size: 1.25rem;
	font-weight: 300;
	color: #57d2f7;
	text-align: center;
	line-height: 3.3rem;
	vertical-align: middle;
}
.sideinfo {
	position: absolute;
	width: 18%;
	height: 100%;
	left: 5%;
	top: 0;
	padding-top: 0.5rem;
	z-index: 0;
	text-align: center;
	font-size: 0;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.headerMoreIcon {
	position: absolute;
	display: none;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	top: 0;
	left: 0;
	font-size: 0.725rem;
	font-weight: 300;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	line-height: 2rem;
	background-color: #57d2f7;
}
.content {
	position: relative;
	z-index: -1;
	width: 77%;
	height: 100%;
	background-color: #ffffff;
}
.contentTital {
	position: relative;
	box-sizing: border-box;
	padding: 0 1rem;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	background-color: #57d2f7;
	color: #ffffff;
}
.contentTital > span {
	position: absolute;
	min-width: 4rem;
	height: 2rem;
}

.inputStyle {
	width: 80%;
	height: 2rem;
	border-radius: 5px;
	border: 1px solid #726dd1;
	font-size: 0.875rem;
}
.buttonStyle {
	width: 19%;
	height: 2rem;
	line-height: 2rem;
	border: none;
	border-radius: 5px;
	background-color: #726dd1;
	color: #ffffff;
	cursor: pointer;
	font-size: 1rem;
}
@media (max-width: 480px) {
	.sideinfo,.sidebar{
		display: none;
	}
	.headerMoreIcon {
		display: inline-block;
	}
}